<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Login to Google</title>
</head>

<body>
    <div>
        <form action="/auth/google" method="get">
            Name: <input type='text' name='uname' />
            <br />
            Password: <input type='password' name='password' />
            <br />
            <button>Login to Google</button>
        </form>
    </div>
</body>

</html>